.container {
    display: flex;
    width: 75vw;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    
}

.cardControls{
    display:flex;
    width: 20vw;
    margin-top:25px;
    justify-content: space-evenly;
    block-size:25px;
    
}