.bar {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background-color: #5E3023;
    display: flex;
}

.barTitle {
    color: #F3E9DC;
    margin-left: 10px !important;
    display: block;
}